<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-left">
  <div class="container">
    <h3>Whispering Woods Center</h3>
    <h3>7451 Wiles Road, Suite 106, Coral Springs, FL 33067</h3>
		<br/>
		<iframe class="map"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD49O4IXnTG9T0bQ1UxL_VinlF5aszlBks
				&q=7451 Wiles Road, Suite 106, Coral Springs, FL 33067" allowfullscreen>
		</iframe>
    <br/>
    <br/>
    <h3>Phone: 954-345-1117 • Fax: 954-345-9105</h3>
    <br/>
    <h3>Hours: Mon.- Thurs. 8:30-5:00</h3>
  </div>
</div>


</body>
</html>
