<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-left">
  <div class="container">
    <h1>Carrie Greenspan MD, LLC</h1>
    <h3>Gynecology &amp Minimally Invasive Surgery</h3>
    <h3>Board Certified by ABOG, practicing in Coral Springs for over 25 years</h3>
    <h3>Education: Northwestern University Medical School, Penn State University for OB-GYN training</h3>
  </div>
</div>


</body>
</html>
