<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-left">
  <div class="container">
    <h2>Now Featuring:</h2>
    <img src="/monalisa-logo.png"/ class="logo" width="50%">
    <ul>
      <li>Fractional CO2 laser therapy for restoration of vaginal health</li>
      <li>Performed in office with only topical anesthetic</li>
      <li>3 treatments, about 5 minutes each, 6 weeks apart</li>
      <li>Fast, simple and safe</li>
      <li>No hormones involved</li>
      <li>Minimal side effects; no downtime</li>
      <li>Symptom relief begins after first treatment</li>
      <li>Also effective for certain other skin conditions such as lichen sclerosus</li>
    </ul>
  </div>
</div>


</body>
</html>
