<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-left">
  <div class="container">
    <h2>Services Provided:</h2>
    <ul>
      <li>Wellness and preventive healthcare, contraceptive options, STD testing, vaccines</li>
      <li>Menopause evaluation &amp treatment- Dr. Greenspan is a NAMS Certified Menopause Practitioner</li>
      <li>Management of Abnormal bleeding, heavy periods, fibroids, ovarian cysts, pelvic pain, gynecologic infections, pelvic organ prolapse; abnormal pap smears &amp HPV evaluation &amp treatment</li>
      <li>Evaluation &amp management of female urinary incontinence; gynecologic ultrasound &amp bone density testing done on premises</li>
      <li>Minimally invasive surgery for hysterectomy, removal of fibroids (myomectomy), ovarian cysts- experienced with DaVinci robotic surgery</li>
      <li>Procedures for heavy periods (endometrial ablation) and for tubal sterilization (Essure)</li>
      <li>Pelvic Floor Muscle Therapy</li>
    </ul>
    <br/>
    <h2>Now Featuring:</h2>
    <img src="/monalisa-logo.png"/ class="logo" width="50%">
    <ul>
      <li>Fractional CO2 laser therapy for restoration of vaginal health</li>
      <li>Performed in office with only topical anesthetic</li>
      <li>3 treatments, about 5 minutes each, 6 weeks apart</li>
      <li>Fast, simple and safe</li>
      <li>No hormones involved</li>
      <li>Minimal side effects; no downtime</li>
      <li>Symptom relief begins after first treatment</li>
      <li>Also effective for certain other skin conditions such as lichen sclerosus</li>
    </ul>
  </div>
</div>


</body>
</html>
